@media (max-width: 900px) {

    .blogs-main-new {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr
    }

    .blogs-news-img-container {
        grid-row: 2;
    }

    .blogs-news-info-container {
        grid-column: 1;
        grid-row: 3;
    }

    .blogs-posts-container .post-container {
        min-width: 45%;
    }

    .proyects-main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3fr;
    }

    .profile-main-container .profile-container {
        display: block;
    }

    .information-profile {
        text-align: justify;
    }

    nav .nav-logo-container {
        display: flex;
        align-items: center;
        margin-left: 28px;
        margin-right: 46px;
    }

    .proyects-main-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .grid_custom {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .grid-container .proyects {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}

@media (min-width: 601px) {

    .grid_custom {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .blogs-posts-container .post-container {
        min-width: 45%;
    }
}

@media (max-width: 600px) {
    .blogs-posts-container .post-container {
        max-width: 95%;
    }

    .nav-logo-container img {
        max-width: 150px;
    }

    .contact-main-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        justify-items: center;
        align-items: center;

    }

    .grid_custom {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .blogs-posts-container .post-container {
        min-width: 45%;
    }

    .home-main .home-main-text {
        font-size: 22px;
        text-align: center;
    }

}

@media (max-width: 450px) {

    .home-main .home-main-text {
        font-size: 20px;
        text-align: center;
    }

}
